body,html{
	overflow: hidden;
}
.nav{
	background-color: #00a0e9;
	color: #fff;
	height: 80px;
	line-height: 80px;
}
.logo{
	padding-left: 50px;
	vertical-align: middle;
}
.nav a,.nav input{color: #fff;}
.nav-title{font-size: 25px;line-height: 50px;display: inline-block;}
.my-photo{
	width: 43px;
	height: 43px;
	vertical-align: middle;
}
.nav-list li{
	height: 80px;
	line-height: 80px;
	float: left;
	color: #b0c4de;
}
.nav-list li ul li{
	height: 30px;
	line-height: 30px;
	float: none;
}
.L-wap{
	width: 12%;
	background: #292d38;
	padding: 0 !important;
}
.navTitle{background: #414654;}
.hide-menu{display: none;}
.L-list-item .menuname{color: #7c808c;padding: 0 12px;}
.L-list li{
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	list-style: circle !important;
}

.hide-menu li a{
	color:  #7c808c;
	text-underline: none;	
}
.hide-menu li:first-child{
	border-bottom: 1px solid #424851;
}
.circle{
	display: inline-block;
	width: 2px;
	height: 2px;
	border-radius: 100%;
}
.hide-menu .menuCheck a{
	color:  #00a0e9;
}
.img-icon{padding: 0 10px;}
label{
	text-align: right;
	padding-top: 6px;
}
.R-container{
	width: 88%;
	overflow-y: scroll;
	padding-bottom: 20px;
}
.R-wap{border: 1px solid #e2e2e3;}
div[class^="col-"]{
	padding:0 !important;
}
.btn-primary{
	background-color: #00a0e9 !important;
	/*color:  #00a0e9 !important;*/
	border-color:#00a0e9 !important;
}
input[type=radio],input[type=checkbox]{
	margin-top: -1px !important;
	margin-left: 4px !important;
}
select{
	appearance:none !important;   
  	-moz-appearance:none !important;   
  	-webkit-appearance: none !important; /*for chrome*/
  	background-image: url('../../img/select.png') !important;
  	background-position: center right !important;
  	background-repeat: no-repeat !important;
  	background-size: 20px;
}
/*ie中去除三角形*/
select::-ms-expand { display: none; } 
.R-wap label{padding-right: 10px;min-width: 125px !important;}
.col{color: red;}
.cursorm{cursor: pointer;}
a{text-underline:none ;}
thead th{text-align: center;}
textarea{resize: none;height: 100px !important;}
.breadcrumb{
	display: none;
}
.breadcrumb {
    padding: 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #e2e2e3;
    margin: 0 15px;
    background: transparent !important;
    border-radius: 0 !important;
}
/*分页*/
.pagination-wap{
	width: 50% !important;
}
.pagination-wap .totalNum{
	margin:26px 10px;
}
.pagination{
	float: left !important;
}
