body,html{
	overflow: hidden;
}
.nav{
	background-color: #105598;
	color: #fff;
	height: 60px;
}
.nav a,.nav input{color: #fff;}
.nav-title{font-size: 25px;line-height: 50px;display: inline-block;}
.my-photo{
	width: 43px;
	height: 43px;
	vertical-align: middle;
}
.nav-list li{
	height: 60px;
	line-height: 60px;
	float: left;
	color: #b0c4de;
}
.nav-list li ul li{
	height: 30px;
	line-height: 30px;
	float: none;
}
.L-wap{
	width: 12%;
	background: #ccc;
	padding: 0 !important;
}
.hide-menu{display: none;}
.L-list li{
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.hide-menu .menuCheck{
	background: #105598;
}
.hide-menu .menuCheck a{
	color: #fff;
}
.img-icon{padding: 0 10px;}
.L-list-item div{border-top: 1px solid #080808;}
label{
	text-align: right;
	padding-top: 6px;
}
.R-container{
	width: 88%;
	overflow-y: scroll;
	padding-bottom: 20px;
}
.R-wap{width: 100%;}
div[class^="col-"]{
	padding:0 !important;
}
input[type=radio],input[type=checkbox]{
	margin-top: -1px !important;
	margin-left: 4px !important;
}
select{
	appearance:none !important;   
  	-moz-appearance:none !important;   
  	-webkit-appearance: none !important; /*for chrome*/
  	background-image: url('../../img/select.png') !important;
  	background-position: center right !important;
  	background-repeat: no-repeat !important;
  	background-size: 20px;
}
/*ie中去除三角形*/
select::-ms-expand { display: none; } 
.R-wap label{padding-right: 10px;min-width: 125px !important;}
.col{color: red;}
.cursorm{cursor: pointer;}
a{text-underline:none ;}
thead th{text-align: center;}
textarea{resize: none;height: 100px !important;}
.breadcrumb{
	display: none;
}
/*分页*/
.pagination-wap{
	width: 50% !important;
}
.pagination-wap .totalNum{
	margin:26px 10px;
}
.pagination{
	float: left !important;
}
