@charset "utf-8";
/* =reset 网页样式重置
------------------------------------------------------------------------------------------------------------------------------*/
html{font:"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;}
html,body{font-family: "微软雅黑";font-size: 14px;}
label { cursor:pointer;}
input:focus{ outline: none; }
input,button,select,textarea{outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ }
textarea,input,select { background: none; border:none; margin: 0; padding: 0; }
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0;}
article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block;} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{font-weight: normal;}
em, cite, address, optgroup { font-style:normal;}
kbd, samp, code { font-family:"微软雅黑";}
img, input, button, select, textarea { vertical-align:middle;outline:none;}
li{ list-style:none;}
img, fieldset { border:0;}
abbr, acronym { cursor:help; border-bottom:1px dotted black;}
table {	width:100%; border-spacing:0; border:0;}
table th, table td { border:0;}
legend, hr { overflow:hidden; position:absolute; top:0; left:0;}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0;}
a{text-decoration:none;color:#000;outline:none}
a:visited{text-decoration: none;color: #000;}
/*a:hover{color: transparent !important;}*/
.clear:after{display:block;  content:"clear"; height:0;  clear:both; overflow:hidden; visibility:hidden;}
.clear{zoom:1;}
i{font-style: normal;}
