	.plan-wap{padding-bottom: 10px;}
	/*.plan-wap label{
		text-align: right;
		padding-top: 6px;
		width: 10%;
	}*/
	.plan-wap #city .form-control{
		width:100%;
	}
	.plan-wap #city div{
		padding: 0;
	}
	.plan-wap .bomlist li{
		border: 1px solid #8C8C8C;
		padding: 4px 19px;
		margin-right: 10px;
		margin-bottom:15px ;
		cursor: pointer;
		border-radius: 4px;
	}
	.plan-wap .purpTextare{
		resize: none;
		height: 100px !important;
	}
	.plan-wap .planbtn-group{margin-left: 8%;margin-bottom: 10px;}
	.plan-wap .planbtn-group .btn{padding: 6px 25px;}
	.plan-wap .contact-wap .form-control{margin-bottom: 15px;}
	.plan-wap .contact-wap .nomarg{margin-bottom: 0;}
	.plan-wap .bomlist .check{
		/*background: url('img/checked.png') no-repeat left top;*/
		/*background-size:15px;*/
		background: #105598;
		color: #fff;
	}