.nav{
	background-color: #105598;
	color: #fff;
	height: 60px;
}
.nav a,.nav input{color: #fff;}
.nav-title{font-size: 25px;line-height: 50px;display: inline-block;}
.my-photo{
	width: 43px;
	height: 43px;
	vertical-align: middle;
}
.nav-list li{
	height: 60px;
	line-height: 60px;
	float: left;
	color: #b0c4de;
}
.nav-list li ul li{
	height: 30px;
	line-height: 30px;
	float: none;
}
.L-wap{
	background: #ccc;
	/*background: url(../img/bg.jpg) no-repeat;*/
}
.hide-menu{display: none;}
.L-list li{
	line-height: 40px;
}
.img-icon{padding: 0 10px;}
.L-list-item div{border-top: 1px solid #080808;}
label{
	text-align: right;
	padding-top: 6px;
}
